/* rye-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rye-v15-latin-regular.woff2') format('woff2'); 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert.jpg');
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: 'Rye';
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;     
    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    color: #f2c7b3b3;
}

.overlay-content-text {
    cursor: pointer;
}

h1 {
    font-size: 50px;
    margin: 55px 0 10px 0;
    letter-spacing: 3px;
    color: rgb(177, 63, 14);
    text-shadow: 2px 6px 2px rgb(0, 0, 0, 0.5);
}

.click-start-container {
    margin-bottom: 15px;
    font-size: 158x;
}

.start-mobile {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
}

.start-game-mobile {
    position: absolute;
    top: 15px;
    left:15px;
    font-size: 20px;
}

.inprint-mobile {
    position: absolute;
    bottom: 15px;
    right:15px;
    border: 1px solid black;
    border-radius: 20px; 
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.canvas-container {
    position: relative;
    aspect-ratio: 3 / 2;
}


canvas {
    background-color: black;
    display: block;
    position: relative;
}

.fullscreen {
    width: 23px;
    height: 23px;
    position: absolute;
    z-index: 100;
    top: 18px;
    right: 75px;
    background-color: #e55511;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.sound-on-button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 19px;
    right: 17px;
    background-color: #e55511;
    margin-left: 10px;
    border-radius: 20px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.control-container {
    width: 720px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 20px;
    color: black;
}

.start-picture {
    width: 720px;
    height: 480px;
    cursor: pointer;
    object-fit: contain;
}

.start-picture-mobile {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: contain;
}

.game-over-picture {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 10;
    cursor: pointer;
}

canvas {
    background-color: black;
}

.mobile-controll-left {
    position: absolute;
    bottom: 8px;
    left: 15px;
    display: none;
}

.mobile-controll-right {
    position: absolute;
    bottom: 8px;
    right: 15px;
    display: none;
}

.mobile-controll-button {
    width: 35px;
    height: 35px;
    background-color: #e55511;
    margin-left: 10px;
    border-radius: 20px;
    padding: 3px;
    border: 1px solid black
}

.landscape-format {
    display: none;
}

.impressum-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 90%;
    margin: 100px 0 0 20% ;
}

.impressum-back {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 20px;
    top:20px;
    cursor: pointer;
}

.legal-notice {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 15px;
}

.icon-container {
    display: flex;
    justify-content: baseline;
}





@media only screen and (max-width: 760px){

    canvas {
        width: 100%;
    }

    .canvas-container {
        width: 100%;
    }

    .mobile-controll-left {
        display: block;
    }
    .mobile-controll-right {
        display: block;
    }

    .start-picture {
        width: 100%;
    }

    .control-container {
        display: none;
    }

    h1 {
      display: none;  
    }

    .click-start-container {
        display: none;  
    }

    .start-mobile {
    display: block;
    }

    .start-picture {
        display: none;
    }

    .legal-notice {
        display: none;
    }

    .impressum-back {
        margin-bottom: 20px;
        width: 20px;
        height: auto;
    }
}

@media only screen and (max-height: 480px) {

    canvas {
        height: 100vh;
    }

    .canvas-container {
        height: 100vh;
    }

    .mobile-controll-left {
        display: block;
    }

    .mobile-controll-right {
        display: block;
    }

    .start-picture {
        height: 100vh;
    }

    .control-container {
        display: none;
    }

    h1 {
      display: none;  
    }

    .click-start-container {
        display: none;  
    }

    .start-mobile {
    display: block;
    }
    
    .start-picture {
        display: none;
    }

    .legal-notice {
        display: none;
    }

    .impressum-back {
        margin-bottom: 20px;
        width: 20px;
        height: auto;
    }
}

@media screen and (orientation:portrait) {
    .start-picture {
        display: none;
    }

    .start-mobile {
        display: none;
    }

    .mobile-controll-left {
        display: none;
    }

    .mobile-controll-right {
        display: none;
    }

    .landscape-format {
        margin-top: 30%;
        display: block;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landscape-image {
        width: 100%;
        height: 100%;
    }

    .landscape-headline {
        font-size: 30px;
        margin: 55px 0 10px 0;
        letter-spacing: 3px;
        color: rgb(177, 63, 14);
        text-shadow: 2px 6px 2px rgb(0, 0, 0, 0.5);
        text-align: center;
    }
}

@media screen and (orientation:landscape) {
   
}

@media (min-aspect-ratio: 2/1) {
    body {
        background-size: cover;
    }
    
}

.d-none {
    display: none;
}
